

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My Angular Application</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="home" routerlinkActive="active">Students</a></li>
      <li><a routerLink="home" routerlinkActive="active">StudentDetails</a></li>
      <li><a routerLink="about-us" routerlinkActive="active">About Us</a></li>
      <li><a routerLink="contact-us" routerlinkActive="active">Contact Us</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>




