<div class="container">
  <table class="table table-bordered" *ngIf="isShowTable">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{student.id}}</td>
        <td (click)="navigateToStudentDetails(student.id)">{{student.name | tag : student.gender}}</td>
        <td>{{student.address }}</td>
        <td>{{student.gender}}</td>
      </tr>
    </tbody>
  </table>

  <br>

  <button class="btn-primary" (click)="clickEventHandler()">{{buttonText}}</button>
</div> 









